extends layout

block content
  table.options-container
    thead
      tr
        th
        th.logo
          include logo
    tbody
      tr
        td#solo-pointer &rarr;
        td
          a(href="/solo") Solo
      tr
        td#versus-pointer
        td
          a(href="/versus") Versus
  script.
    $("body").on("keydown", function(e) {
      if (e.which === 38) {
        $("#solo-pointer").text("→");
        $("#versus-pointer").text("");
      } else if (e.which === 40) {
        $("#solo-pointer").text("");
        $("#versus-pointer").text("→");
      } else if (e.which === 13) {
        if ($("#solo-pointer").text() === "→") {
          window.location.pathname = "/solo"
        } else {
          window.location.pathname = "/versus"
        }
      }
    });
    
    var colorScroll = function() {
      let letters = $(".logo").children();
      for (let i = 0; i < letters.length; i++) {
        switch (letters[i].className) {
          case "purple":
          letters[i].className = "blue";
          break;
          case "blue":
          letters[i].className = "red";
          break;
          case "red":
          letters[i].className = "yellow";
          break;
          case "yellow":
          letters[i].className = "green";
          break;
          case "green":
          letters[i].className = "orange";
          break;
          case "orange":
          letters[i].className = "cyan";
          break;
          case "cyan":
          letters[i].className = "purple";
          break;
        }
      }
    }
    setInterval(colorScroll, 200);
