extends layout

block content
  table
    tbody
      tr
        td
          button.create-btn(type="button") Create Room
        td
          button.join-btn(type="button") Join Room
      tr
        td
        td
          label Key: 
          input#key-input(type=text placeholder="Friend's key...")
  script.
    $(".create-btn").on("click", function() {
      let newRoom = createKey();
      window.location.pathname = "/versus/" + newRoom;
    });
    $(".join-btn").on("click", function() {
      window.location.pathname = "/versus/" + $("#key-input").val();
    });
    
    function createKey() {
    	let key = "";
    	const KEY_LENGTH = 10;
      let chars = "abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789";
      for (let i = 0; i < KEY_LENGTH; i++) {
      	key += chars[Math.floor(Math.random() * 62)];
      }
      return key;
    }
