extends layout

block content
  table.options-container
    tbody
      tr
        td.create-pointer &rarr;
        td
          a.create-link(href="/versus/create") Create Game
      tr
        td.join-pointer
        td
          a.join-link(href="/versus/join") Join Game
      tr
        td.back-pointer
        td
          a(href="/") Back
  div.join-form
    form
      label.key-label Enter a room key:
      input.key-input(type="text")
      div
        button.cancel-btn(type="button") Cancel
        button.join-btn(type="submit") Join
  script.
    $("body").on("keydown", function(e) {
      if (e.which === 38) {
        if ($(".join-pointer").text() === "→") {
          $(".create-pointer").text("→");
          $(".join-pointer").text("");
        } else if ($(".back-pointer").text() === "→") {
          $(".join-pointer").text("→");
          $(".back-pointer").text("");
        }
      } else if (e.which === 40) {
        if ($(".create-pointer").text() === "→") {
          $(".create-pointer").text("");
          $(".join-pointer").text("→");
        } else if ($(".join-pointer").text() === "→") {
          $(".join-pointer").text("");
          $(".back-pointer").text("→");
        }
      } else if (e.which === 13) {
        if ($(".create-pointer").text() === "→") {
          var newRoom = createKey(10);
          window.location.pathname = "/versus/" + newRoom;
        } else if ($(".join-pointer").text() === "→") {
          $(".join-form").css("display", "flex");
        } else {
          window.location.href = "/";
        }
      } else if (e.which === 27) {
        if ($(".join-form").css("display") === "flex") {
          $(".join-form").css("display", "none");
        } else {
          window.location.href = "/";
        }
      }
    });

    $(".create-link").on("click", function(e) {
      e.preventDefault();
      var newRoom = createKey(10);
      window.location.pathname = "/versus/" + newRoom;
    });

    $(".join-link").on("click", function(e) {
      e.preventDefault();
      $(".join-form").css("display", "flex");
    });

    $(".join-btn").on("click", function(e) {
      e.preventDefault();
      window.location.pathname = "/versus/" + $(".key-input").val();
    });

    $(".cancel-btn").on("click", function() {
      $(".join-form").css("display", "none");
    })

    function createKey(keyLength) {
      const CHARS = "abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789";
    	let key = "";
      for (let i = 0; i < keyLength; i++) {
      	key += CHARS[Math.floor(Math.random() * CHARS.length)];
      }
      return key;
    }
