extends layout

block content
  div.key-form
    label Send this key to your friend: 
    input.key-input(type="text" onClick="this.select();")
  div#whole-container
    include matrix
    div#opponent-container
      table#mini-matrix
        tbody#mini-matrix-tbody
      include chat
        button#ready-btn(type="text" data-ready=false disabled) Ready
  script(src="/js/tetris.js")
  script(src="/js/script.js")
  script(src="/js/versus.js")
  script.
    $("#messages").text("Waiting for opponent to connect...")
    $(".key-input").val(window.location.pathname.split("/")[2]).attr("size", $(".key-input").val().length);
    $(".key-input").on("click", function() {
      document.execCommand("copy");
    });
    $(".send-msg").on("click submit", function(e) {
      e.preventDefault();
      var msg = $(".chat-input").val();
      if (msg.length > 0) {
        $(".chat-ol").append($(`<li>You: ${msg}</li>`));
        socket.emit("send-message", msg);
        $(".chat-input").val("");
      }
      $('.chat-ol').scrollTop($('.chat-ol').prop("scrollHeight"));
    });
    socket.on("receive-message", function(msg) {
      $(".chat-ol").append($(`<li>Opponent: ${msg}</li>`));
      $('.chat-ol').scrollTop($('.chat-ol').prop("scrollHeight"));
    });
