extends layout

block content
  div.key-form
    label Send this key to your friend: 
    input.key-input(type="text" onClick="this.select();")
  div#whole-container
    include matrix
    div#opponent-container
      table#mini-matrix
        tbody#mini-matrix-tbody
      include chat
        button#ready-btn(type="text" data-ready=false disabled) Ready
  script(src="/js/tetris.js")
  script(src="/js/script.js")
  script(src="/js/versus.js")
  script.
    $("#messages").text("Waiting for opponent to connect...")
    $(".key-input").val(window.location.pathname.split("/")[2]).attr("size", $(".key-input").val().length);
    $(".key-input").on("click", function() {
      document.execCommand("copy");
    });
